body{
/*    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;*/
}
.wrapper{
    height: 100%;
}
.content{
    width: 100%;
}
.topWrap{
    padding: 20px;
}

.loaderImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 135px;
    height: 135px;
    display: none;
}
.filter{
    max-width:300px;
}

.commentCreate{
    cursor: pointer;
}